html {
   background-color: #2e2f3b;
}
header {
   text-align: center;
}

main h2 {
   text-align: center;
}
nav {
   margin-top: 20px;
   background-color: #2e2f3b;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   padding: 0 50px;
}
nav ul {
   list-style: none;
   text-align: center;
}

nav ul li {
   display: inline-block;
   padding: 25px;
   margin: 0 25px;
}
nav a {
   text-decoration: none;
   color: antiquewhite;
}
nav a:hover {
   color: rgb(214, 62, 62);
}
nav .focus {
   color:rgb(214, 62, 62);
}

section {
   display: flex;
   flex-flow: row wrap;
}
article {
   flex: 1;
   border-color: black;
   border-radius: 5px;
   border-style: groove;
   box-shadow: 5px 5px 5px black;
   margin-right: 10px;
   align-items: center;
   text-align: center;
   justify-content: center;
}

footer {
   display: flex;
   margin-top: 20px;
   text-align: center;
   justify-content: center;
}
footer div {
   flex: .1;
   padding-left: 10px;
   overflow: visible;
   white-space: nowrap;
   justify-self: center;
   vertical-align: middle;
}
footer p {
   margin-top: 8px;
   color: antiquewhite;
}